*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-fluid{
   height: 100vh;
  
   
    
}

.panel{

    border: 1px solid none;
    border-radius: 5px;
    margin:.2em;
    
}
.top-panel{
   
    
    background-color:rgba(73, 105, 18, 0.578);
    
}
.left-panel{
    height: 750px;
    background-color:rgba(65, 105, 225, 0.424);
    margin-top: 30px;   
   

}
.center-panel{
    height: 750px;
    background-color:rgba(255, 235, 205, 0.775);
    margin-top: 30px;
}
.right-panel{
    height: 750px;
    background-color:silver;
    margin-top: 30px;
}
a:link{
    text-decoration: none;
   
}


.message{

background-color:aliceblue ;
width:200px ;
border-radius: 10px;
border:none;
font-family:Arial, Helvetica, sans-serif
}

#search{
    border-radius: 9px;
}



ul{
    list-style-type: none;
    
}
li a{
    display:block;

}
/*Buttons*/
.button{
    display:flex;
    flex-direction: column;
}
.button1:hover{
    
}
/*
.dropbtn{
    background-color: gold;
    color: beige;
    padding: 5px;
    border: none;
    border-radius: 7px;
    cursor:pointer;
}

.dropdown{
    
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
  }
  /
   .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }